<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="#" class="navbar-brand">Discipline</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <!--<li>  ui-sref-active="active"
                <a ui-sref="index.main"><i class="fa fa-bar-chart"></i> <span class="nav-label">Dashboard</span> </a>
            </li>-->
            <li>
                <a ui-sref="index.analysis"><i class="fa fa-bar-chart"></i> <span class="nav-label">OD Analytics</span></a>
            </li>
            <li>
                <a ui-sref="index.minor"><i class="fa fa-cloud-download"></i> <span class="nav-label">Extraction</span></a>
            </li>
        </ul>
    </div>

</nav>